#include "resource.h"
#include "winres.h"

// Language
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

// Shaders
IDR_VSHA_CEL        RT_RCDATA "res\\shaders\\cel.vert"
IDR_FSHA_CEL        RT_RCDATA "res\\shaders\\cel.frag"

// Meshes
IDR_MESH_TEAPOT     RT_RCDATA "res\\models\\teapot.obj"
IDR_MESH_SHIP_DSTR  RT_RCDATA "res\\models\\ship_destroyer.obj"
IDR_MESH_SHIP_SUBM  RT_RCDATA "res\\models\\ship_submarine.obj"
IDR_MESH_SHIP_CRUS  RT_RCDATA "res\\models\\ship_cruiser.obj"
IDR_MESH_SHIP_BTLE  RT_RCDATA "res\\models\\ship_battleship.obj"
IDR_MESH_SHIP_CARR  RT_RCDATA "res\\models\\ship_carrier.obj"
